In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:\\dialect_all.csv',encoding="UTF-8")

In [3]:
df = df.drop('id', 1) # drop first(id) column

In [4]:
columns_titles = ["response","dialect"]
df=df.reindex(columns=columns_titles)  #swap el columns

In [5]:
#df2 = df.iloc[:100000,:] #use first 100000 row

In [6]:
df2 = df

In [7]:
df2

                                                 response dialect
0        @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .      IQ
1       @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...      IQ
2                         @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ      IQ
3              @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’      IQ
4                      @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº      IQ
...                                                   ...     ...
458192              @Al_mhbaa_7 Ù…Ø¨Ø³ÙˆØ·ÙŠÙ† Ù…Ù†Ùƒ Ø§Ù„Ù„ÙŠ Ø¨Ø§Ø³Ø·Ø§Ù†Ø§ğŸ˜…      BH
458193       @Zzainabali @P_ameerah ÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ÙŠÙ†Ø¯Ù‡ Ø§Ø¨Ø´ ÙŠØ®ØªÙŠ      BH
458194  @Al_mhbaa_7 Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³...      BH
458195        @haneenalmwla Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡ ğŸ˜‹ğŸ˜‹ğŸ˜‹      BH
458196          @jolnar121 Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡ğŸ˜…ğŸ˜…      BH

[458197 rows x 2 columns]

# Text pre-processing Step (Cleaning and Formating)

In [8]:
#Remove Question marks '?'
i = 0
while i < len(df2):
    for row in df2['response']:
        y = row.replace('ØŸ', '') 
        df2.at[i,'response'] = y
        i =i+1

In [9]:
# remove English characters
def remove_english_string(string):
    return " ".join(re.findall('[\u0600-\u06ff]+', string))

In [10]:
x = 'x'
i = 0
import re

In [11]:
#remove Emojes
while i < len(df2):
    for row in df2['response']:
        y = remove_english_string(row)
        df2.at[i,'response'] = y          
        i=i+1
    else:
            break;

In [12]:
df2

                                                 response dialect
0                                 Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© ÙŠÙ†ØªÙØ¶ ÙŠØºÙŠØ±      IQ
1       ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± Ø­ÙŠÙˆÙ†Ù‡ ÙˆÙˆØ­Ø´ÙŠÙ‡ ÙˆØªØ·Ù„Ø¨ÙˆÙ† ...      IQ
2                                     Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ      IQ
3                               ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡      IQ
4                                   ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯      IQ
...                                                   ...     ...
458192                           Ù…Ø¨Ø³ÙˆØ·ÙŠÙ† Ù…Ù†Ùƒ Ø§Ù„Ù„ÙŠ Ø¨Ø§Ø³Ø·Ø§Ù†Ø§      BH
458193                              ÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ÙŠÙ†Ø¯Ù‡ Ø§Ø¨Ø´ ÙŠØ®ØªÙŠ      BH
458194  Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³Ø§ÙƒÙŠÙ† Ù„ÙŠØ´ Ø¨ØªØ¹...      BH
458195                          Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡      BH
458196                       Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡      BH

[458197 rows x 2 columns]

In [13]:
df3 = pd.get_dummies(df2, columns=['dialect']) # for dummy colums

In [14]:
df3

,response,dialect_AE,dialect_BH,dialect_DZ,dialect_EG,dialect_IQ,dialect_JO,dialect_KW,dialect_LB,dialect_LY,dialect_MA,dialect_OM,dialect_PL,dialect_QA,dialect_SA,dialect_SD,dialect_SY,dialect_TN,dialect_YE
0,Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© ÙŠÙ†ØªÙØ¶ ÙŠØºÙŠØ±,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± Ø­ÙŠÙˆÙ†Ù‡ ÙˆÙˆØ­Ø´ÙŠÙ‡ ÙˆØªØ·Ù„Ø¨ÙˆÙ† ...,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458192,Ù…Ø¨Ø³ÙˆØ·ÙŠÙ† Ù…Ù†Ùƒ Ø§Ù„Ù„ÙŠ Ø¨Ø§Ø³Ø·Ø§Ù†Ø§,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458193,ÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ÙŠÙ†Ø¯Ù‡ Ø§Ø¨Ø´ ÙŠØ®ØªÙŠ,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458194,Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³Ø§ÙƒÙŠÙ† Ù„ÙŠØ´ Ø¨ØªØ¹...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458195,Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458196,Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
X_final = df3['response'] #divide data to X and Y (Features and Labels)

In [16]:
y_final = df3.drop(['response'], axis = 1)  #divide data to X and Y (Features and Labels)

In [17]:
X_final

0                                   Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© ÙŠÙ†ØªÙØ¶ ÙŠØºÙŠØ±
1         ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± Ø­ÙŠÙˆÙ†Ù‡ ÙˆÙˆØ­Ø´ÙŠÙ‡ ÙˆØªØ·Ù„Ø¨ÙˆÙ† ...
2                                       Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3                                 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡
4                                     ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯
                                ...
458192                             Ù…Ø¨Ø³ÙˆØ·ÙŠÙ† Ù…Ù†Ùƒ Ø§Ù„Ù„ÙŠ Ø¨Ø§Ø³Ø·Ø§Ù†Ø§
458193                                ÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ÙŠÙ†Ø¯Ù‡ Ø§Ø¨Ø´ ÙŠØ®ØªÙŠ
458194    Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³Ø§ÙƒÙŠÙ† Ù„ÙŠØ´ Ø¨ØªØ¹...
458195                            Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡
458196                         Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡
Name: response, Length: 458197, dtype: object

In [18]:
y_final

,dialect_AE,dialect_BH,dialect_DZ,dialect_EG,dialect_IQ,dialect_JO,dialect_KW,dialect_LB,dialect_LY,dialect_MA,dialect_OM,dialect_PL,dialect_QA,dialect_SA,dialect_SD,dialect_SY,dialect_TN,dialect_YE
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458192,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458193,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458194,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458195,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458196,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Convert to Numbers using Tfidf Technique

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [20]:
numpy_array = X_final.to_numpy() # convert Data frame to numpy

In [21]:
numpy_array

array(['Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© ÙŠÙ†ØªÙØ¶ ÙŠØºÙŠØ±',
       'ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± Ø­ÙŠÙˆÙ†Ù‡ ÙˆÙˆØ­Ø´ÙŠÙ‡ ÙˆØªØ·Ù„Ø¨ÙˆÙ† Ù…Ù† Ø§Ù„ØºØ±Ø¨ ÙŠØ­ØªØ±Ù…ÙƒÙ… ÙˆÙŠØ¤Ù…Ù† Ø¨Ø¯ÙŠÙ†ÙƒÙ… ÙˆÙ„Ø§ÙŠÙ†Ø¹ØªÙƒÙ… Ø¨Ø§Ù„Ø¥Ø±Ù‡Ø§Ø¨',
       'Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ', ...,
       'Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³Ø§ÙƒÙŠÙ† Ù„ÙŠØ´ Ø¨ØªØ¹Ù…Ù„ÙŠ Ù‡ÙŠÙƒ ÙÙŠÙ†Ø§',
       'Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡', 'Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡'],
      dtype=object)

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd


vectorizer = TfidfVectorizer()
vectorizer.fit(numpy_array)
features = vectorizer.transform(numpy_array)

#df5 = pd.DataFrame(features.toarray(), columns=vectorizer.get_feature_names())


#print("Texts:", numpy_array)
#print("--------------------------------------------------------")
#print(df5)

In [23]:
features

<458197x491479 sparse matrix of type '<class 'numpy.float64'>'
	with 5707805 stored elements in Compressed Sparse Row format>

In [24]:
y_final

,dialect_AE,dialect_BH,dialect_DZ,dialect_EG,dialect_IQ,dialect_JO,dialect_KW,dialect_LB,dialect_LY,dialect_MA,dialect_OM,dialect_PL,dialect_QA,dialect_SA,dialect_SD,dialect_SY,dialect_TN,dialect_YE
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458192,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458193,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458194,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458195,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458196,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Split data to train and test with 80% train and 20% test

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, y_final, test_size=0.2, random_state=42)

# Naive Byaes Model, Prediction and Evaluation

In [26]:
X_train

<366557x491479 sparse matrix of type '<class 'numpy.float64'>'
	with 4569019 stored elements in Compressed Sparse Row format>

In [27]:
y_train = y_train.to_numpy()

In [28]:
y_train_number = np.argmax(y_train, axis = 1)

In [29]:
print(y_train_number)

[ 0  7  5 ... 15 16 11]

In [30]:
from sklearn.naive_bayes import MultinomialNB

clf = MultinomialNB().fit(X_train, y_train_number)

In [31]:
#test_sentences = ["learn stock market playing this game"]

#print("*Pre-processing")
#print(process_texts(X_test))

print("*Vectorizing: Pay attention below, we have three non-zero terms. They correspond to our vocabulary words: stock, market and game")
#test_features = count_vectorizer.transform(process_texts(X_test))
#print(test_features.toarray())

print("*Predicting")
y_hat = clf.predict(X_test)
print("Class:", y_hat)
#print("Probabilities:", clf.predict_proba(test_features))

*Vectorizing: Pay attention below, we have three non-zero terms. They correspond to our vocabulary words: stock, market and game
*Predicting
Class: [3 6 3 ... 3 6 3]

# Evaluation Using Accuracy , Precision, Recall and F1-Score

In [32]:
y_test = y_test.to_numpy()

In [33]:
y_test_number = np.argmax(y_test, axis = 1)

In [34]:
# Precision 
from sklearn.metrics import precision_score
precision = precision_score(y_test_number, y_hat, average='micro')
print('Precision: %.3f' % precision)

Precision: 0.395

In [35]:
# Recall
from sklearn.metrics import recall_score
recall = recall_score(y_test_number, y_hat, average='macro')
print('Recall: %.3f' % recall)

Recall: 0.265


# SVM Model, Prediction and Evaluation

In [ ]:
from sklearn import svm, datasets
import sklearn.model_selection as model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [ ]:

clf = svm.SVC(kernel='sigmoid', verbose = True)

In [ ]:
#rbf = svm.SVC(kernel='rbf', gamma=0.5, C=0.1, verbose = True).fit(X_train, y_train)
#poly = svm.SVC(kernel='poly', degree=3, C=1).fit(X_train, y_train)

In [ ]:
y_train = y_train.to_numpy()

In [ ]:
y_train

In [ ]:
y_train_number = np.argmax(y_train, axis = 1)

In [ ]:
print(y_train_number)

In [ ]:
#poly_pred = poly.predict(X_test)
rbf_pred = clf.fit(X_train, y_train_number)

# Evaluation Using Accuracy , Precision, Recall and F1-Score

In [ ]:
rbf_accuracy = accuracy_score(y_test, rbf_pred)
rbf_f1 = f1_score(y_test, rbf_pred, average='weighted')
print('Accuracy (RBF Kernel): ', "%.2f" % (rbf_accuracy*100))
print('F1 (RBF Kernel): ', "%.2f" % (rbf_f1*100))

In [ ]:
from sklearn.metrics import recall_score
recall = recall_score(y_test, rbf_pred, average='macro')
print('Recall: %.3f' % recall)