# Import Libraries and the CSV file

In [1]:
import pandas as pd 
import re

In [2]:
df = pd.read_csv('D:\\dialect_all.csv',encoding="UTF-8") # read data from CSV file and loadded in dataframe

In [3]:
df

,id,dialect,response
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺
...,...,...,...
458192,1019484980282580992,BH,@Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
458193,1021083283709407232,BH,@Zzainabali @P_ameerah والله ماينده ابش يختي
458194,1017477537889431552,BH,@Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
458195,1022430374696239232,BH,@haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
458196,1022409931029458944,BH,@jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

In [4]:
df = df.drop('id', 1) # drop first(id) column

In [5]:
columns_titles = ["response","dialect"]
df=df.reindex(columns=columns_titles)  #swap the columns

In [6]:
df

                                                 response dialect
0        @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .      IQ
1       @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...      IQ
2                         @KanaanRema مبين من كلامه خليجي      IQ
3              @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐      IQ
4                      @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺      IQ
...                                                   ...     ...
458192              @Al_mhbaa_7 مبسوطين منك اللي باسطانا😅      BH
458193       @Zzainabali @P_ameerah والله ماينده ابش يختي      BH
458194  @Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...      BH
458195        @haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋      BH
458196          @jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅      BH

[458197 rows x 2 columns]

In [7]:
#df2 = df.iloc[:100000,:] #use first 100000 row

In [8]:
df2 = df

# Remove the Question marks from all rows '؟'

In [9]:
i = 0
while i < len(df2):
    for row in df2['response']:
        y = row.replace('؟', '') 
        df2.at[i,'response'] = y
        i =i+1

# Remove all Characters except Arabic Character

In [10]:
def remove_english_string(string):
    return " ".join(re.findall('[\u0600-\u06ff]+', string))

In [11]:
x = 'x'
i = 0

# Remove all the Emojis

In [12]:
#remove Emojes
while i < len(df2):
    for row in df2['response']:
        y = remove_english_string(row)
        df2.at[i,'response'] = y          
        i=i+1
    else:
            break;

In [13]:
df2

                                                 response dialect
0                                 لكن بالنهاية ينتفض يغير      IQ
1       يعني هذا محسوب على البشر حيونه ووحشيه وتطلبون ...      IQ
2                                     مبين من كلامه خليجي      IQ
3                               يسلملي مرورك وروحك الحلوه      IQ
4                                   وين هل الغيبه اخ محمد      IQ
...                                                   ...     ...
458192                           مبسوطين منك اللي باسطانا      BH
458193                              والله ماينده ابش يختي      BH
458194  شو عملنا لك حنا تهربي مننا احنا مساكين ليش بتع...      BH
458195                          الله يبارك فيها وبالعافيه      BH
458196                       السحله ضيفي ي بتطلع لك سحليه      BH

[458197 rows x 2 columns]

In [14]:
df3 = pd.get_dummies(df2, columns=['dialect']) # for dummy colums

In [15]:
X_final = df3['response']

In [16]:
y_final = df3.drop(['response'], axis = 1)

In [17]:
X_final

0                                   لكن بالنهاية ينتفض يغير
1         يعني هذا محسوب على البشر حيونه ووحشيه وتطلبون ...
2                                       مبين من كلامه خليجي
3                                 يسلملي مرورك وروحك الحلوه
4                                     وين هل الغيبه اخ محمد
                                ...
458192                             مبسوطين منك اللي باسطانا
458193                                والله ماينده ابش يختي
458194    شو عملنا لك حنا تهربي مننا احنا مساكين ليش بتع...
458195                            الله يبارك فيها وبالعافيه
458196                         السحله ضيفي ي بتطلع لك سحليه
Name: response, Length: 458197, dtype: object

In [18]:
y_final

,dialect_AE,dialect_BH,dialect_DZ,dialect_EG,dialect_IQ,dialect_JO,dialect_KW,dialect_LB,dialect_LY,dialect_MA,dialect_OM,dialect_PL,dialect_QA,dialect_SA,dialect_SD,dialect_SY,dialect_TN,dialect_YE
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458192,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458193,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458194,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458195,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
458196,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Split data to Train and Test data (80% and 20%

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size=0.2, random_state=42,stratify=y_final)

In [20]:
y_train

,dialect_AE,dialect_BH,dialect_DZ,dialect_EG,dialect_IQ,dialect_JO,dialect_KW,dialect_LB,dialect_LY,dialect_MA,dialect_OM,dialect_PL,dialect_QA,dialect_SA,dialect_SD,dialect_SY,dialect_TN,dialect_YE
74261,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
303737,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
198276,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
176728,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
204075,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206347,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
440070,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
181132,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
43826,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
423012,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [21]:
from collections import Counter

In [22]:
# Count number of the word in the dataset
def counter_word(text):
    count = Counter()
    for i in text.values:
        for word in i.split():
            count[word] +=1
    return count

In [23]:
text = X_train
counter = counter_word(text)

In [24]:
len(counter)

460294

In [25]:
num_word = len(counter)

max_length = 20